.page-image {
    position: relative;
}

.page-image__picture {
    width: 100%;
    height: 354px;
}

.page-image__text {
    color: #221f1f;
    font-size: 49px;
    font-weight: 700;
    position: absolute;
    top: 160px;
    left: 66px;
}

.page-text {
    padding-right: 185px;
    text-align: left;
}

.page-text p,
.page-text li {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}

.page-text ul {
    padding: 0;
    list-style: none;
}

.page-text li {
    margin-bottom: 15px;
    padding-left: 40px;
    background: url("../../img/icons/slice-1.png") 10px 10px no-repeat;
}

.page-text span {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.description {
    width: 700px;
    height: 114px;
    background-color: #1c5bc3;
    padding: 15px 30px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 71px;
}

.description__white-text {
    font-weight: 700;
    text-decoration: underline;
}

.description__phonenumber {
    font-weight: 700;
}

.partners__title {
    width: 229px;
    height: 46px;
    color: #221f1f;
    font-size: 49px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 30px;
}

.partners__list {
    list-style: none;
    width: 700px;
}

.partners__item {
    float: left;
    margin-right: 20px;
    width: 208px;
    margin-bottom: 50px;
    height: 75px;
}

.partners__link {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
}

.partners__image {
    display: block;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.partners__item_middle .partners__image {
    left: 50%;
    transform: translate(-50%, -50%);
}

.partners__item_right .partners__image {
    right: 0;
}


/*.about-container {
  padding-right: 180px;
}*/