.header {
    background: #1c5bc3;
    padding: 20px 20px;
}

.header__left, .header__right {
    float: left;
    width: 50%;
}

.header__right {
    text-align: right;
}

.contacts__elem {
  position: relative;
}

.contacts__elem:hover .contacts__dropdown {
  display: block;
}

.contacts__schedule:hover {
  color: grey;
}

.contacts__dropdown {
  padding: 10px 15px;
  box-shadow: 0px 0px 10px 0px rgba(23, 59, 117, 0.55);
  background: #fff;
  border-radius: 5px 0 5px 5px;
  text-align: left;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1000;
  margin-top: 13px;
  display: none;
}


.contacts__dropdown:before {
  content: "";
  display: block;
  border: 11px solid transparent;
  border-top-width: 0;
  border-bottom-color: #fff;
  position: absolute;
  top: -11px;
  right: 0;
}

.contacts__dropdown:after {
  content: "";
  display: block;
  position: absolute;
  height: 25px;
  left: 0;
  right: 0;
  top: -25px;
}

.contacts__time {
  font-size: 14px;
  font-weight: bold;
  color: #1c5bc3;
  font-weight: bold;
  margin-bottom: 10px;
}

.contacts__lunch {
  font-size: 14px;
  color: #221f1f;
}
.contacts__phone {
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    text-decoration: none;
    display: block;
}

.contacts__schedule {
    opacity: 0.7;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
    display: block;
}

.contacts {
    display: inline-block;
}

.logo-wrapper {
    display: inline-block;
}